:root {
    --maroon: rgb(140, 29, 64);
    --yellow: #ffc627;
}

.container>h1 {
    font-weight: bolder;
    color: var(--maroon);
}

#chat-box {
    width: 100%;
    height: 70vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 30px 30px;
    overflow-y: scroll;
    margin-bottom: 10px;
    font-size: large;
}

#chat-box::-webkit-scrollbar{
    width: 10px;
}

#chat-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #a2a2a2;
    border-radius: 10px; 
    border: 2px solid #f1f1f1;
}

#chat-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#user-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;  
}

input:focus {
    outline: solid 2px var(--maroon);
}

#queryButton {
    background-color: var(--maroon);
}

.outgoing-msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.outgoing-msg>div {
    float: right;
}

.outgoing-msg>div>p {
    background: var(--maroon) none repeat scroll 0 0;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.incoming-msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.incoming-msg>div {
    float: left;
}

.incoming-msg>div {
    background: var(--yellow) none repeat scroll 0 0;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 20px 15px 10px 20px;
    width: 100%;
}
